<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Connection App - Admin</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/admin.js" defer></script>
  </head>
  <body>
    <header>
      <h1>CONNECTION APP</h1>
    </header>
    <main>
      <h2>Welcome back Lord admin!</h2>
      <form id="execute" style="background-color:white"> 
      <button type="submit">Execute Now</button>  
      </form>
      <form id="clear" style="background-color:white"> 
      <button type="submit">Clear Matching</button>  
      </form>
      <form id="return" style="background-color:white"> 
      <button type="submit" style="background-color:black;color:white">Return to Home</button>  
    </form>
      <div>
        <ul id="view">
          
        </ul>
        <ul id="view2">
          
        </ul>
      </div>
    </main>
  </body>
</html>
