<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Connection App - Login</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/index.js" defer></script>
  </head>
  <body>
    <header>
      <h1>CONNECTION APP</h1>
    </header>
    <main>
      <h2>Please insert login details below</h2>

      <form id="loginform">
        <label>
          Email Address:
          <input name="Email" type="text" maxlength="100" required placeholder="Email Address">
        </label>
        <label>
          Password:
          <input name="Password" type="password" required placeholder="Password">
        </label>
        <button type="submit" id="submit-login">Login</button>
      </form>
    </main>
    <p id="alert">
    </p>
    <br>
    <form id="register" style="background-color:white"> 
      <button type="submit" style="background-color:black;color:white">Register</button>  
    </form>
  </body>
</html>
