<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Connection App - Login</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/index.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/register.js" defer></script>
  </head>
  <body>
    <header>
      <h1>CONNECTION APP</h1>
    </header>
    <main>
    <div class="login-box">
  <h2>Please insert registration details below</h2>
  <form id="registerform">
    <div class="user-box">
      <input name="Nickname" type="text" maxlength="100" required placeholder="Nickname (doesn't need to be unique!)">
      <label>Nickname</label>
    </div>
    <div class="user-box">
        <input name="Email" type="email" required placeholder="Email Address (must be unique!)">
        <label>Email Address</label>
    </div>
    <div class="user-box">
        <input name="Password" type="password" required placeholder="Password">
        <label>Password</label>
    </div>
    <div class="user-box">
      
        <input name="Confirm" type="password" required placeholder="Confirm Password">
        <label>Confirm Password</label>
    </div>
    <p id="warn"></p>
          <a href="">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
            <b id="submit-login">Register Now</b>
    </a>
  </form>
          <p id="alert">
    </p> 
      <form>
        <a href="https://connection-app.glitch.me/">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
        <b>Back to login</b>
    </a>
      </form>
</div>
      <footer style="color:white;position:absolute;bottom:10px">For any queries, reach out to connectionapp.uk@gmail.com</footer>
      </main>
  </body>
</html>
