<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Connection App - Register</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/register.js" defer></script>
  </head>
  <body>
    <header>
      <h1>CONNECTION APP</h1>
    </header>

    <main>
      <h2>Please insert registration details below</h2>

      <form id="registerform">
        <label>
          Nickname:
          <input name="Nickname" type="text" maxlength="100" required placeholder="Nickname (doesn't need to be unique!)">
        </label>
        <label>
          Email:
          <input name="Email" type="email" required placeholder="Email (please make sure this is unique!)">
        </label>
        <label>
          Password:
          <input name="Password" type="password" required placeholder="Password">
        </label>
        <label>
          Confirm Password:
          <input name="Confirm" type="password" required placeholder="Confirm Password">
        </label>
        <p id="warn"></p>
        <button type="submit" id="submit-login">Register Now</button>
      </form>
    </main>
    <br>
    <form id="login" style="background-color:white"> 
      <button type="submit" style="background-color:black;color:white">Back to login!</button>  
    </form>
  </body>
</html>
