<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Connection App - Your Dashboard</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/user-page.js" defer></script>
  </head>
  <body>
    <header>
      <p id="session-id">
      </p>
      <h1>CONNECTION APP</h1>
    </header>

    <main>
      <h2 id="welcome">Welcome to your personal dashboard</h2>
      <div style="background-color:#adedbc">
        <h2 id="setup">Here is your allocated appointment next week!</h2>
        <p>
          Match Status: <b id="matchstatus"></b>
        </p>
        <p>
          <b>Connected Stranger's Nickname:</b><br>
          <span id="strangername"></span>
        </p>
        <p>
          <b>Connected Stranger's matching platform:</b><br>
          <span id="matchplatform"></span>
        </p>
        <p>
          <b>Meeting time:</b><br>
          <span id="matchtime"></span>
        </p>
        <p>
          <b>Connected Stranger's contact:</b><br>
          <span id="strangercontact"></span>
        </p>
      </div>
      
      <div style="border-style:solid">
        <p>
        Next week's availability: <span id="maxwarn"></span>
      </p>
      <ul id="availability">
      </ul>
      <p>
        Next week's platform availability:
      </p>
      <ul id="platforms">
      </ul>
      <p>
        Contact information for the stranger:
      </p>
      <ul id="contact-info">
      </ul>
      </div>
      <p id="participation">
       Status of participation next week:
        <b><span id="partstatus"></span></b><br>
        <span><i>Ensure that this value is updated on Sunday when the matching program will run for the following week's matches!</i></span>
        <form id="confirm" style="background-color:white"> 
        <button id="buttonmsg" type="submit">
          </button>
          </form>
      </p>
      
      <h4>
        If the information above is inaccurate, please update using the form below!
      </h4>
      
      
      <form id="availabilityform">
        <h3>
          <b>Update Form</b>
        </h3>
        <label>
          <b>Next Week's Availability:</b> (will add to your availabilities above)<br>
          <label>Start Date:</label>
          <input name="start-date" type="date">
          <label>Start Time:</label>
          <input name="start-time" type="time">
          <label>End Date:</label>
          <input name="end-date" type="date">
          <label>Start Date:</label>
          <input name="end-time" type="time">
        </label>
        <button type="submit" id="submit-ava-update">Submit Availability Update</button>
        <p id="errorbox" style="color:red">
        </p>
        </form>
      
      <form id="platformform">
         <label>
          <b>Your Available Platforms:</b>(Will replace the values above)
        </label>
        <div class="checkboxes">
          <label for="platform1"><input type="checkbox" id="platform1" name="Facebook" value="Yes"><span>Facebook</span></label>
          <label for="platform2"><input type="checkbox" id="platform2" name="WhatsApp" value="Yes"><span>WhatsApp</span></label>
          <label for="platform3"><input type="checkbox" id="platform3" name="Discord" value="Yes"><span>Discord</span></label>
          <label for="platform4"><input type="checkbox" id="platform4" name="Zoom" value="Yes"><span>Zoom</span></label>
          <label for="platform5"><input type="checkbox" id="platform5" name="Phone" value="Yes"><span>Phone</span></label>
          <label for="platform6"><input type="checkbox" id="platform6" name="Email" value="Yes"><span>Email</span></label>
          <label for="platform7"><input type="checkbox" id="platform7" name="Any" value="Yes"><span>Any</span></label>
        </div>
        <button type="submit" id="submit-plat-update">Submit Platform Update</button>
      </form>
        <form id="infoform">
        <label>
          <b>Contact information:</b>(Will replace the values above)
          <input type="text" name="contact" maxlength="500" required placeholder="e.g. You can reach me via XXX by XXX...">
          P.s. if you do not provide this, there will be no way the stranger can contact you as your email is private by default 
        </label>
        <button type="submit" id="submit-info-update">Submit Contact Update</button>
      </form>
    </main>
    <br>
    <form id="logout" style="background-color:white"> 
      <button type="submit" style="background-color:black;color:white">Log Out</button>  
    </form>
    <form id="resetpw" style="background-color:white"> 
      <label><button type="submit" style="background-color:red;color:white">Reset Password</button>
      </label>
    </form>
  </body>
</html>
